# bacnend .env.example
DB_HOST=localhost
DB_USER=your_db_user_here
DB_PASSWORD=your_db_password_here
DB_NAME=your_db_name_here

PORT=8000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000
CLIENT_ORIGIN_2=https://your_second_client_origin.com
API_BASE_URL=http://localhost:8000

SESSION_SECRET=your_64_char_or_longer_random_secret_here
REDIS_URL=redis://localhost:6379